/* подключение шрифта */
/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic&display=swap&subset=cyrillic-ext");

@font-face {
    font-family: 'Evanston Tavern 1919';
    src: url('../fonts/EvanstonTavern-1919Medium.woff2') format('woff2'),
        url('../fonts/EvanstonTavern-1919Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evanston Tavern 1919';
    src: url('../fonts/EvanstonTavern-1919Medium.woff2') format('woff2'),
        url('../fonts/EvanstonTavern-1919Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* обнуление */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul,
ol,
li {
	text-decoration: none;
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html {
	font-size: 16px;
}

body {
	line-height: 1;
	font-family: "Noto Sans";
}

/* ==== */

/* header */


.nav__link {
	text-transform: uppercase;
	color: rgba(235, 64, 28, 0.7);
	text-decoration: underline;
	line-height: 180%;
	font-weight: 700;
	font-style: italic;
}

/* main */

.article {
	text-align: center;
}

.article__title {
	font-size: 30px;
	font-family: "Evanston Tavern 1919";
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 4px;
	color: #0e4d90;
	line-height: 200%;
}
._title-main {
	text-transform: uppercase;
	text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1),
		0px 34px 30px rgba(0, 0, 0, 0.1);
	line-height: 400%;
}
.article__text {
	line-height: 150%;
	font-size: 18px;
	color: rgba(0, 128, 128, 0.7);
}


/* footer */
.footer {
	font-weight: 700;
	font-style: italic;
}
.footer__item {
	text-transform: uppercase;
	color: rgba(235, 64, 28, 0.7);
	text-decoration: underline;
	line-height: 180%;
}
.footer span {
	color: #0e4d90;
	text-decoration: line-through;
}
.footer a {
	color: #0e4d90;
}
